html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    border: 1px solid blueviolet;
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

.container {
    border: 1px solid red;
    flex: 1;
    display: grid;
    gap: 1%;
    padding: 2%;
    grid-template-columns: repeat(auto-fit, 250px);
    overflow: auto;
    align-content: start;
}

.info-form {
    margin: auto;
    height: 300px;
    width: 300px;
}

.info-form[open] {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.book {
    border: 2px solid rebeccapurple;
    height: 250px;
    display: grid;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.statusBtn,
.removeBtn {
    flex: 1;
}

.buttonContainer {
    display: flex;
    gap: 12px;
    height: 30px;
}

label{
    display: inline-block;
    width: 75px;
}

form > input{
 border: none;   
}

::backdrop{
    backdrop-filter: blur(6px);
}

input{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid lightslategray;
    padding: 8px;
    /*border-radius: 12px;*/
}

dialog{
    border: transparent;
    border-radius: 8px;
}